[Desktop Entry]
Version=1.0
Type=Link
Name=HTML_EXERCISE_PIC
Comment=
Icon=user-bookmarks
URL=https://mail.google.com/mail/u/0?ui=2&ik=c1c84b0bc3&attid=0.1.1&permmsgid=msg-f:1671047284926443926&th=1730c0a6ecebf196&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ_MwAFjc7SoVv6nftr1W260BdusFx3IsyVa8Fk8j3n4O4O16ohPUhR6CaLnAkX6UHoIrt-4GdK1mRjZWsuvJOsBWOemcNJksDX5PEA-KmNTVmjmU_LSNNcF-gU&disp=emb
